.top{
    font: bold;
    color: red; 
    font-size: 40px; 
    margin: 0 auto; 
    text-align: center;   
    position: relative;
  top: 0px;
}
#eat {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height:40px; 
    width:200px;
    background-color: blue;  
}
.subForm{
    float: right; 
    display: block;

}
h1{
    /* text-align: center;  */
    text-align: center; 
    background-color: red' 

}
#enter_text{
    display: block; 
    margin-left: auto;
    margin-right: auto;
   height: 100px;
   width: 300px; 
   margin-top:50px; 
}
.pic{
    height:200px; 
    width:200px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
   
}
#submission{
    text-align: center;   
}
#eat{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: yellow; 
}

.container{
    margin: 0 auto; 
}
#subButton{
    align-content: center; 
}
.containerBtm{
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
/* .btn{
    height:50px; 
    width:100px;
    position:relative;
    top:50%; 
    left:50%;
    margin: 0 auto; 
    background-color: blue; 
}  */

p{
    /* position: absolute;
    bottom: 25px; */
    text-align: center; 
}
.form-group,
.btn btn-primary{
    width: 35%; 
    margin: 0 auto;
}
/* pre{ 
  

} */
/* .btn{
   float: none; 
   text-align: center;
  
} */
body{
    background-color: yellow;
}

/* Additional Screen Sizes */

/* Width at 320px and below */
@media screen and (max-width: 320px) {
    body {
      background-color: #333;
    }
  
    .container {
      width: 100%;
    }

  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }
  
   .container {
      width: 100%;
    }
  }
